@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Ubuntu&display=swap');
:root{
    
    --headings: #000000  ;
    --text: #D1D7E0;
    --background: #46344E;
    --headings-font-family: 'Ubuntu', sans-serif;
    --text-font-family: 'Noto Sans JP', sans-serif;
    --textbox: #008CBA;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--background);
    text-align: center;
    font-family: var(--text-font-family);
    color: var(--text);
}
h2 {
    color: var(--headings);
    font-family: var(--headings-font-family);
    font-size: 2.Srem;
    padding-bottom: 1rem;

}
.image-cropper{
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

img{
    opacity: 35%;
    width: 450px;
    height: 100%;
    margin-left: -10;
}

p{
    line-height: 2;
}

hr{
    border: dotted var(--text) 15px;
    border-bottom: none;
    width: 30%;
    margin: 5rem auto;
}

.middle-container{
    margin: 5rem ;
    text-align: center;
}

.skill-row{
    width: 50%;
    margin: 2rem auto;
    overflow: hidden;
}
.code-image{
    width: 25%;
    float: left;
    margin-right: 2rem;
}
.hobby-image{
    width: 25%;
    float: right;
}
.btn{   
    background-color: var(--textbox); /* Blue */
    border: none;
    color: var(--text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      
}
.bottom-link{
    display: inline-block;
    margin: 1rem;

}
.lil-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lil-wrapper i{
    margin-right: 1rem;
}
.lil-wrapper a{
    text-decoration: none;
    color: var(--text);
}
.copyright{
    margin: 5rem
}
/*h1{
    font-family: var(--headings-font-family);
}

